<%- include('header_super_admin.html') %>
		
		<style type="text/css">
			#table_info tr td{
				border: 1px solid black;
			}
			#table_info th{
				border: 1px solid black;

			}
			
		</style>				
		<div class="main-panel">
			<div class="content">
				<div class="panel-header bg-success-gradient">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">Data User</h2>
								<input type="hidden" id="page" value="user">
								<h5 class="text-white op-7 mb-2">Selamat datang <%=session.username %>, Ini adalah Data User yang telah teregister dengan kode alat</h5>
							</div>
							<div class="ml-md-auto py-2 py-md-0">
								<!-- <a href="/mulai_olahraga" class="btn btn-white btn-border btn-round mr-2">Ayo Olahraga!</a> -->
							</div>
						</div>
					</div>
				</div>
				<div class="page-inner mt--5">
					
					<!-- end row -->
					
					<div class="row row-card-no-pd">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header bg-warning-gradient text-white" >
									<h4 class="card-title text-white" style="margin: 5px;margin-top: 10px;text-align: center;">Data User</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<div class="col-md-4 justify-content-right mb-3" style="float: right;">
												<input type="text" name="search_user" id="search_user" onkeyup="show_table_user_super_admin()" class="form-control" placeholder="Cari User..." style="text-align: right;">
											
										</div>
										<table class="datatable table table-stripped table-borderd" id="datatable_user">
											<thead>
												<TR>
													<th>No.</th>
													<th>Nama</th>
													<th>User</th>
													<th>Kode ALat</th>
													<th>Jenis Kelamin</th>
													<th>Usia</th>
													<th>Detail Informasi</th>
													<th>Aksi</th>
												</TR>
											</thead>
											<tbody>
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>


<div class="modal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modal_detail_user" style="background-color: rgba(100,100,100,0.5);">
  <div class="modal-dialog" role="document"  id="modal_dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detail Informasi User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal_info_user()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
									<ul class="nav nav-pills nav-secondary justify-content-center" id="pills-tab" role="tablist">
										<li class="nav-item submenu">
											<a class="nav-link active show" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> Info User</a>
										</li>
										<li class="nav-item submenu">
											<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Detak Jantung</a>
										</li>
										<li class="nav-item submenu">
											<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Tingkat  Oksigen</a>
										</li>
										<li class="nav-item submenu">
											<a class="nav-link" id="pills-suhu-tab" data-toggle="pill" href="#pills-suhu" role="tab" aria-controls="pills-suhu" aria-selected="false">Suhu </a>
										</li>
									</ul>
									<div class="tab-content mt-2 mb-3" id="pills-tabContent">
										<div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
											<div class="col-md-12">
										      	<table class="table table-borderd table-stripped " id="table_info">
										      		
										      			<tr>
										      				<td>1.</td>
										      				<td>Nama</td>
										      				<td>:</td>
										      				<td id="info_nama"></td>
										      			</tr>
										      			<tr>
										      				<td>2.</td>
										      				<td>Jenis Kelamin</td>
										      				<td>:</td>
										      				<td id="info_jenis_kelamin"></td>
										      			</tr>
										      			<tr>
										      				<td>3.</td>
										      				<td>Usia</td>
										      				<td>:</td>
										      				<td id="info_usia"></td>
										      			</tr>
										      			<tr>
										      				<td>4.</td>
										      				<td>Kode Alat</td>
										      				<td>:</td>
										      				<td id="info_kode_alat"></td>
										      			</tr>
										      		
										      	</table>	
										      	</div>		
										</div>
										<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
										<table class="table table-borderd table-stripped " id="table_info">
										      		
										      			<tr>
										      				<td>1.</td>
										      				<td>Detak Jantung Tertinggi</td>
										      				<td>:</td>
										      				<td id="info_maxhr"></td>
										      			</tr>
										      			<tr>
										      				<td>2.</td>
										      				<td>Detak Jantung Terendah</td>
										      				<td>:</td>
										      				<td id="info_minhr"></td>
										      			</tr>
										      			<tr>
										      				<td>3.</td>
										      				<td>Rata-rata Detak Jantung</td>
										      				<td>:</td>
										      				<td id="info_avghr"></td>
										      			</tr>
										      		
										      		
										      	</table>	
										</div>
										<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
											<table class="table table-borderd table-stripped " id="table_info">
										      		
										      			<tr>
										      				<td>1.</td>
										      				<td>Tingkat Oksigen Tertinggi</td>
										      				<td>:</td>
										      				<td id="info_maxoxy"></td>
										      			</tr>
										      			<tr>
										      				<td>2.</td>
										      				<td>Tingkat Oksigen Terendah</td>
										      				<td>:</td>
										      				<td id="info_minoxy"></td>
										      			</tr>
										      			<tr>
										      				<td>3.</td>
										      				<td>Rata-rata Tingkat Oksigen</td>
										      				<td>:</td>
										      				<td id="info_avgoxy"></td>
										      			</tr>
										      		
										      		
										      	</table>	
										</div>

										<div class="tab-pane fade" id="pills-suhu" role="tabpanel" aria-labelledby="pills-suhu-tab">
											<table class="table table-borderd table-stripped " id="table_info">
										      		
										      			<tr>
										      				<td>1.</td>
										      				<td>Suhu Tubuh Tertinggi</td>
										      				<td>:</td>
										      				<td id="info_maxsuhu"></td>
										      			</tr>
										      			<tr>
										      				<td>2.</td>
										      				<td>Suhu Tubuh Terendah</td>
										      				<td>:</td>
										      				<td id="info_minsuhu"></td>
										      			</tr>
										      			<tr>
										      				<td>3.</td>
										      				<td>Rata-rata Suhu Tubuh</td>
										      				<td>:</td>
										      				<td id="info_avgsuhu"></td>
										      			</tr>
										      		
										      		
										      	</table>	
										</div>


									</div>
							
      
      		
      </div>
      <div class="modal-footer">
        <button style="width: 100%" type="button col-12" class="btn btn-secondary" data-dismiss="modal" onclick="close_modal_info_user()">Tutup</button>
      </div>
    </div>
  </div>
</div>


			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="#">
									HeartSport Administrator
								</a>
							</li>
							
							
						</ul>
					</nav>
					<div class="copyright ml-auto">
						2024, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">Ian Putra</a>
					</div>				
				</div>
			</footer>
		</div>
		
		<!-- Custom template | don't include it in your project! -->
	
		<!-- End Custom template -->

            <%- include('footer_super_admin.html') %>

