<%- include('header.html') %>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-12">
            <div class="row">
              <div class="col-3 d-flex justify-content-start" style="margin-top: 0px;">
                <h2 >Monitoring Akselerasi</h2>
              </div>
              <div class=" col-9 d-flex justify-content-end" style="margin-top: -20px;">
                <div class="dropdown flex-md-grow-1 flex-xl-grow-0 m-2">
                        <label>Dari</label>
                       <input type="datetime-local" name="dari" id="dari" class="form-control">
                      </div>
                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0 m-2">
                        <label> Sampai</label>
                       <input type="datetime-local" name="sampai" id="sampai" class="form-control">
                      </div>
                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0 m-2">
                        <br>
                        <button class="btn btn-success btn-sm  " id="tgl" style="margin-top: 10px !important;" onclick="update_tgl()"><i class="mdi mdi-calendar"></i></button>
                    </div>
              </div>
              

            </div>

          
            
          </div>

          <br>
            <div class="col-12">
              <div class="row">
                <div class="col-9">
                  <div class="card">
                    <div class="card-header bg bg-info">
                      <h5 class="text-white">Grafik Akselerasi Anda</h5>
                    </div>
                    <div class="card-body">
                      <div class="canva">
                        <canvas id="akselo_page"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card">
                    <div class="card-body">
                      <h5>Pergerakan Anda Sekarang:</h5>
                      <h3 id="akselo_sekarang"></h3>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-body">
                      <h5>Rata-rata gerakan:</h5>
                      <h3 id="avg_akselo"></h3>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-body">
                      <h5>Modus:</h5>
                      <h3 id="modus_akselo"></h3>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-body">
                      <h5>Keterangan:</h5>
                      <h4 id="ket_akselo"></h4>
                    </div>
                  </div>

                </div>
              </div>
            </div>

              <br>

          <div class="col-12">
            <div class="row">
              <div class="col-3">
                <div class="card">
                  <div class="card-header bg-success">
                    <h4 class="text-white"><i class="mdi mdi-check"></i> What To Do</h4>
                  </div>
                  <div class="card-body">
                    <div id="what_to_do_akselo">
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="card">
                  <div class="card-header bg-danger">
                    <h4 class="text-white"> <i class="mdi mdi-close"></i> What Not to Do</h4>
                  </div>
                  <div class="card-body">
                    <div id="what_not_to_do_akselo">
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="card">
                  <div class="card-header bg-success">
                    <h4 class="text-white"><i class="mdi mdi-check"></i> What To Eat</h4>
                  </div>
                  <div class="card-body">
                    <div id="what_to_eat_akselo">
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-3">
                <div class="card">
                  <div class="card-header bg-danger">
                    <h4 class="text-white"> <i class="mdi mdi-close"></i>  What Not To eat</h4>
                  </div>
                  <div class="card-body">
                    <div id="what_not_to_eat_akselo">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





        </div>
      

<%- include('footer.html') %>
        