<%- include('header.html') %>
						
		<div class="main-panel">
			<div class="content">
				<div class="panel-header bg-primary-gradient">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">Bantuan</h2>
								<input type="hidden" id="page" value="bantuan">

								<h5 class="text-white op-7 mb-2">Jika Kamu Bingung Cara Menggunakan Sistem Ini, Kami beri tau caranya :)</h5>
							</div>
							
						</div>
					</div>
				</div>
				<div class="page-inner mt--5">
					<div class="row">
						<div class="col-md-8">
							<div class="card full-height">
								<div class="card-header">
									<h2>Petunjuk Penggunaan Alat dan Sistem</h2>
									
								</div>
								<div class="card-body">
										<ol class="activity-feed">
											<li class="feed-item feed-item-secondary">
												<time class="date" datetime="9-25">Step 1</time>
												<span class="text">Login Ke Sistem. Jika kamu belum punya akun, registrasikan diri kamu dengan nomor alat yang tersedia. </span>
											</li>
											<li class="feed-item feed-item-success">
												<time class="date" datetime="9-24">Step 2</time>
												<span class="text">Halaman Dashboard Jika Kamu sudah login, kamu akan diarahkan ke halaman dashboard</span>
											</li>
											<li class="feed-item feed-item-info">
												<time class="date" datetime="9-23">Step 3</time>
												<span class="text">Mulai Olahraga dengan pilih menu olahraga. Kemudian Isi Tempat dan jenis olahraga yang ingin kamu lakukan</span>
											</li>
											<li class="feed-item feed-item-warning">
												<time class="date" datetime="9-21">Step 4</time>
												<span class="text">Nyalakan Alat. Lalu sambungkan ke Wi-fi terdekat dengan Wi-Fi manager.</span>
											</li>
											<li class="feed-item feed-item-danger">
												<time class="date" datetime="9-18">Sep 5</time>
												<span class="text">Mulailah Berolahraga. Jika sudah dirasa cukup, Klik Tombol Stop.</span>
											</li>
											<li class="feed-item">
												<time class="date" datetime="9-17">Sep 167</time>
												<span class="text">Kamu Bisa Cek Riwayat olahraga kamu di halaman Riwayat Olahraga</span>
											</li>
										</ol>
									</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body ">
										<h3 class="text-success"><i class="fa fa-info-circle"></i> <b>Tips!</b></h4>
										<p>Gunakan alat ini untuk olahraga didalam ruangan agar lebih mudah dalam mengkoneksikan alat ke Wi-Fi.</p>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<h3 class="text-danger"><i class="fas fa-battery-full"></i> <b>Charge!</b></h4>
										<p>Charge Alat sebelum digunakan agar pencatatan maksimal.</p>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<h3 class="text-primary"><i class="fas fa-walking"></i> <b>Mulai Berlahraga!</b></h4>
										<p>Berolahragalah dengan riang gembira. Hindari merokok dan mengonsumsi minuman keras untuk kesehatan tubuh dan pencatatan data yang lebih baik.</p>
									</div>
								</div>
							</div>
						</div>

						

					</div>
					
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="https://www.themekita.com">
									HeartSport
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Petunjuk Penggunaan Alat
								</a>
							</li>
							
						</ul>
					</nav>
					<div class="copyright ml-auto">
						2024, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">Ian Putra</a>
					</div>				
				</div>
			</footer>
		</div>
		


            <%- include('footer.html') %>

